<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DHI.DFS" version="20.1.0" targetFramework="native" />
  <package id="DHI.DHIfl" version="20.1.0" targetFramework="native" />
  <package id="DHI.EUM" version="20.1.0" targetFramework="native" />
  <package id="DHI.PFS" version="20.1.0" targetFramework="native" />
</packages>